<ng-template #modalReservas let-modal>

    <div class="container">
        <div class="modal-header">
          <h1 class="modal-title">Reservas</h1>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id Usuario</th>
                          <th scope="col">Id Reserva</th>
                          <th scope="col">Cantidad de comensales</th>
                          <th scope="col">Precio total</th>
                          <th scope="col">Fecha reservada</th>
                          <th scope="col">Franja horaria</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Hay que implementar que de manera recursiva
                            se obtengan los datos y se pinten n veces-->
                        <tr *ngFor="let reserva of reservas | async">
                          <td>{{reserva.usuario.idUsuario}}</td>
                          <td>{{reserva.idReserva}}</td>
                          <td>{{reserva.cantidadComensales}}</td>
                          <td>{{reserva.precioTotal}}</td>
                          <td>{{reserva.fechaReservada.substring(0,10)}}</td>
                          <td>{{reserva.franjaHoraria.franjaInicio}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-principal" (click)="modal.close('Save click')" data-dismiss="modal">Cerrar</button>
        </div>
    </div>

</ng-template>

<!-- BOTON -->
<div class="btn-nav-desplegable" (click)="openXl(modalReservas)">Reservas</div>

