<div class="container-fluid body-admin">
  <div class="row justify-content-center">
    <div class="container-fluid">
      <div class="sidenav">
        <a (click)="gestionPlatos()">Gestion Platos</a>
        <a (click)="gestionReservas()">Gestion Reservas</a>
        <a (click)="gestionUsuarios()">Gestion Usuarios</a>
      </div>

      <div class="main">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row principal">
              <div class="col-lg-12 d-block tablas">

                <!-- Aqui tienen que venir los componentes de gestion -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contenedor del admin -->
    </div>
    <div class="col-9"></div>
  </div>
</div>
