<div
  class="w3-sidebar w3-bar-block w3-card w3-animate-left"
  style="display: none"
  id="mySidebar"
>
  <button
    class="w3-bar-item w3-button w3-large btn-cerrar"
    (click)="w3_close()"
  >
    <span id="btn-cerrar-label">Cerrar</span>
  </button>
  <ul id="opciones">
    <li><a (click)="mostrar(0)">Gestión Platos</a></li>
    <li><a (click)="mostrar(1)">Gestión Reservas</a></li>
    <li><a (click)="mostrar(2)">Gestión Usuarios</a></li>
    <li><a (click)="mostrar(3)">Gestión Bebidas</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>

<div id="main">
  <!-- Barra superior de navegación -->
  <div class="row">
    <div class="w3-container navbar-titular">
      <button
        id="openNav"
        class="w3-button w3-xlarge btn-nav"
        (click)="w3_open()"
      >
        &#9776;
      </button>
      <h1>Administración</h1>
    </div>
  </div>

  <!-- contenido de la pagina -->
  <div class="w3-container">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row principal">
        <div class="col-lg-12 d-block" id="gestion">
          <!-- Aqui tienen que venir los componentes de gestion -->
          <div *ngIf="estados[0]">
            <app-gestion-platos></app-gestion-platos>
          </div>
          <div *ngIf="estados[1]">
            <app-gestion-reservas></app-gestion-reservas>
          </div>
          <div *ngIf="estados[2]">
            <app-gestion-usuarios></app-gestion-usuarios>
          </div>
          <div *ngIf="estados[3]">
            <app-gestion-bebidas></app-gestion-bebidas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
