.body-footer{
    margin-top: 40px;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.footer-background{
    background-color: #262626;
    color: white;
}

.creadores{
    font-weight: bolder;
    color: #e50076;
}