<!-- Template de base --> 
<!-- Todos los datos deben ser sacados de la base de datos -->

<ng-template  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Arroz Japones
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="imagen-plato">
            <img [src]="elegido.imagen" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-6">
              <h5>Nombre</h5>
              <p>{{elegido.nombre}}</p>
            </div>
            <div class="col-6">
              <h5>Tipo</h5>
              <p>{{elegido.tipo}}</p>
              
            </div>
          </div>
          <div class="row">
            <div class="col-12 ">
              <h5>Precio Unitario</h5>
              <p>{{elegido.precioUnitario}}</p>
            </div>
  
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <h5>Descripción</h5>
              <p>{{elegido.descripcion}}</p>
            </div>            
          </div>    
        </div> 
      </div>
    </div>
    

  </div>
  <div class="modal-footer">


    <!-- TO DO
      Hay que implementar funcionalidad de los botones
    -->

    <!-- Este boton debe añadir producto al carro -->
    <button
      type="button"
      class="btn btn-principal"
      (click)="modal.close('Save click')"
    >
      Añadir
    </button>

    <!-- Este boton debe cerrar el modal -->
    <button
      type="button"
      class="btn btn-principal"
      (click)="modal.close('Save click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>


<!-- BOTON PARA PRUEBAS -->
<button class="btn btn-outline-primary mb-2 mr-2" (click)="open()" style="display: none;">BOTON DE PRUEBA MODAL</button> 
