<div class="body-register">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image imagen"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear una cuenta</h1>
              </div>

              <form class="row g-3 nuevo-usuario">
                <div class="col-md-6">
                  <label for="inputUsername" class="form-label"
                    >Nombre Usuario</label
                  >
                  <input type="text" class="form-control" id="inputUsername" />
                </div>
                <div class="col-md-6">
                  <label for="inputPassword" class="form-label">
                    Contraseña</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                  />
                </div>
                <div class="col-md-6">
                  <label for="inputNombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="inputNombre" />
                </div>
                <div class="col-md-6">
                  <label for="inputApellido" class="form-label"
                    >Apellidos</label
                  >
                  <input type="text" class="form-control" id="inputApellido" />
                </div>
                <div class="col-md-6">
                  <label for="inputDNI" class="form-label">DNI</label>
                  <input type="text" class="form-control" id="inputDNI" />
                </div>
                <div class="col-md-6">
                  <label for="inputTeléfono" class="form-label"
                    >Teléfono de contacto</label
                  >
                  <input type="text" class="form-control" id="inputTeléfono" />
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label"
                    >Fecha de nacimiento</label
                  >
                  <input id="date" class="form-control" type="date" />
                </div>
              </form>
              <hr />

              <a href="login.html" class="btn btn-user btn-block btn-principal">
                Registrar cuenta
              </a>
              <div class="text-center">
                <a class="small enlace" href="/login"
                  >¿Tienes cuenta ya? Inicia sesión</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
