<div class="container-fluid">
    <h1 class="text-center mb-3">BEBIDAS</h1>
    <div id="slider5" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Plato 1</h4>
              <p class="card-text">Descripcion plato 1</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 2</h4>
                <p class="card-text">Descripcion plato 2</p>
              </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 3</h4>
                <p class="card-text">Descripcion plato 3</p>
              </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 4</h4>
                <p class="card-text">Descripcion plato 4</p>
              </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 5</h4>
                <p class="card-text">Descripcion plato 5</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 6</h4>
                <p class="card-text">Descripcion plato 6</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Plato 7</h4>
                <p class="card-text">Descripcion plato 7</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider5" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slider5" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

