<div class="panel panel-primary body-gestion-usuarios">
  <div class="panel-heading">
    <div class="container"><h2>Lista de usuarios</h2>
      <form class="form-inline" style="margin-bottom: 7px">
        <button class="btn btn-info">
          Buscar usuario
        </button>
        <div class="form-group">
          <input type="text" id="buscadorReserva" class="form-control mx-sm-3" placeholder="ID usuario">
        </div>
      </form>
  </div>
</div>
  <div class="panel-body">
    <!-- Inicio table -->
    <div class="container contenedor-tabla">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive"> 
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Fecha nacimiento</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios | async">
                  <th scope="row">{{usuario.idUsuario}}</th>
                  <td>{{usuario.nombreUsuario}}</td>
                  <td>{{usuario.nombre}}</td>
                  <td>{{usuario.apellido}}</td>
                  <td>{{usuario.fechaNacimiento}}</td>
                  <td>{{usuario.dni}}</td>
                  <td>{{usuario.telefono}}</td>
                  <!--No mostramos rol, los usuarios administradores solo gestionan usuarios comunes-->
                  <td>
                    <div class="container">
                      <div class="row btn-eliminar"><button
                        class="btn btn-danger"
                        (click)="eliminarUsuario(usuario.idUsuario!)"
                      >
                        Borrar
                      </button></div>
                      <div class="row"><button class="btn btn-info">
                        Actualizar
                      </button></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>