<!-- Navigation -->

<app-navbar></app-navbar>

<!-- Page Content -->
<div class="container body-home">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4 cabecera-bienvenida">
    <h1 class="display-3">Realice su reserva</h1>
    <p class="lead">Elija los platos que deseé, elija la cantidad, los comensales y cuando desea tomar su almuerzo.</p>
    <p class="lead">Todo ello con los aforos limitados para cuidar de su salud y optimizar su tiempo.</p>
  </header>
  <app-producto></app-producto> 
  <app-cesto></app-cesto>
  <!-- Page Features -->
  <div class="container">

    <div class="">
      <app-slider1></app-slider1>
    </div>

    <div class="">
      <app-slider2></app-slider2>
    </div>

    <div class="">
      <app-slider3></app-slider3>
    </div>

    <div class="">
      <app-slider4></app-slider4>
    </div>

    <div class="">
      <app-slider5></app-slider5>
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<app-footer></app-footer>