.body-home {
  margin-top: 30px;
  padding-top: 30px;
}

.title {
  margin-top: 60px;
}

.header-tabla {
  padding: 10px
}

.body-tabla {
  background-color: white!important;
  border-radius: 5px;
  border-style: solid;
  border-color: #262626;
  border-width: 3px;
  margin-top: 30px;
  text-align: center;
}

th, td {
  /*use this property to disbale soft wrap*/
  white-space: nowrap;
  /*To make extra certain,add this css property*/
  word-break: keep-all;
}

.fila > td > img{
  width: 10vw;
  height: 10vh;
}

.fila > td{
  font-size: 20px;
  white-space: break-spaces;
}

.fila:hover {
  background-color: #c9c9c9!important;
}

.fila:active{
  background-color: #e50076!important;
}

.btn-goToTop{
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .body-home, .container {
    max-width: 80vw !important;
    
  }
}

@media screen and (max-width: 770px) {
  .col-ocultar{
    display: none;
    width: 0;
    height: 0;
  }

}

@media screen and (max-width: 425px) {
  .col-ocultar-precio{
    display: none;
    width: 0;
    height: 0;
  }

}