<ng-template #modalDetallesCuenta let-modal>
  <div class="container">
    <div class="modal-header">
      <h1 class="modal-title">Cuenta</h1>
    </div>
    <div class="modal-body">
      <table class="table table-hover table-responsive table-bordered">
        <tbody>
          <tr>
            <td>Nombre Usuario</td>
            <td>{{ detalle.nombreUsuario }}</td>
          </tr>
          <tr>
            <td>Contraseña</td>
            <td>{{ detalle.password }}</td>     
          </tr>
          <tr>
            <td>Nombre</td>
            <td>{{ detalle.nombre }}</td>
          </tr>
          <tr>
            <td>Apellidos</td>
            <td>{{ detalle.apellido }}</td>
          </tr>
          <tr>
            <td>DNI</td>
            <td>{{ detalle.dni }}</td>
          </tr>
          <tr>
            <td>Teléfono</td>
            <td>{{ detalle.telefono }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-principal"
        (click)="modal.close('Save click')"
        data-dismiss="modal"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>

<!-- Botón situado en la barra de navegación -->
<div class="btn-nav-desplegable" (click)="openXl(modalDetallesCuenta)">
  Detalles de la cuenta
</div>
