<ng-template #modalDetallesCuenta let-modal>

<div class="container">
    <div class="modal-header">
      <h1 class="modal-title">Detalles de la cuenta</h1>
    </div>
    <div class="modal-body">
    <table class="table table-hover table-responsive table-bordered">
      <tbody>
        <tr>
          <td>Nombre de usuario</td>
          <td>Usuario_1234</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
                data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Contraseña</td>
          <td>**********</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>Nombre_usuario</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>Apellidos_usuario</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>DNI</td>
          <td>12345678X</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>665221430</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Fecha de nacimiento</td>
          <td>26/03/2021</td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <td>Foto</td>
          <td></td>
          <td>
            <button class="btn btn-primary btn-xs" data-title="Mostrar" data-toggle="modal"
            data-target="#view"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')" data-dismiss="modal">Close</button>
    </div>
</div>

</ng-template>

<!-- BOTON PARA TESTEO -->
<div class="btn-nav-desplegable" (click)="openXl(modalDetallesCuenta)">Detalles de la cuenta</div>

