<nav class="navbar fixed-top navbar-expand navbar-light bg-light body-nav">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cesto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu desplegable" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Detalles de cuenta</a></li>
              <li><a class="dropdown-item" href="#">Reservas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar plato" aria-label="Search">
          <button class="btn  btn-principal" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  