<div class="sb-nav-fixed sb-sidenav-toggled">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Hola Usuario!</a>
    <!--Iconos-->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link"
          >1
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-columns"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item"><i class="fas fa-cog"></i> Ajustes</a>
          <a class="dropdown-item" href="login.html"
            ><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a
          >
        </div>
      </li>
    </ul>
    <!--Barra de navegación-->
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          placeholder="Buscar"
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </nav>
</div>


